/*************************************************************************/
/******************************MAIN-SECTIONS******************************/
* {
	margin: 0;	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #636262;
}

html {
	box-sizing: border-box;
}

* {
	font-weight: 300;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fff;
	overflow-y: scroll;
}

/*************************************************************************/
/******************************FONT, TEXT*********************************/
.strong { font-weight: 500; }
.green { color: #19aa4c; }
.blue { color: #3383cb; }
.red { color: #ed5743; }

/*************************************************************************/
/******************************WRAP-SECTIONS******************************/
.header-wrap, .navigation-wrap, .select-wrap, .content-wrap, .footer-wrap, .pagination-wrap {
	width: 100%;
	float: left;
}

.header-wrap {
	height: 82px;
	background: #fff;
}

.navigation-wrap {
	height: 140px;
	background: #f7f9fa;
}

.select-wrap {
	height: 30px;
	background: #fff;
	position: relative;
	z-index:1;
	margin-top: 83px;
}

.content-wrap {
	background: #fff;
}

.footer-wrap {
	height: 68px;
	background: #383d41;
}

.pagination-wrap {
	margin: 15px 0 40px 0;
}

/*************************************************************************/
/******************************SECTIONS***********************************/
.header, .main-heading, .navigation, .content, footer, .pagination {
	max-width: 1024px;
	margin: 0 auto;
}

.header {
	height: 82px;
}

.header div {
	float: right;
	margin-top: 21px;
	margin-left: 20px;
}

.header img {
	float: left;
}

.user-select { 
	position: relative;
}

.user-select ul { 
	display: block;
}

.user-select ul li {
	height: 26px;
	background: #fff;
	font-size: 15px;
	display: block;
	display: none;
}

.user-select ul li:nth-child(1) {
	height: 40px;
	display: inline-block;
	background: #fff;
	bottom: 0;
}

.user-select ul li button {
	height: 38px; 
	overflow: hidden; 
	background: url(img/arrow.png) no-repeat right;
	border: none;	
	text-align: right;
	font-size: 15px;
	cursor: pointer;
}

.user-select ul li button span {
	padding-right: 35px;
	padding-left: 5px;
}

.user-select ul li button:hover {
	color: #333;
}

.user-select ul li a {
	text-decoration: none;
	color: #636262;
	position: relative;
	left: 8px;
	top: 4px;
}

.user-select ul li a:hover {
	color: #333;
}

.sj-select { 
	position: relative;
}

.sj-select ul { 
	display: block;
}

.sj-select ul li {
	height: 26px;
	background: #fff;
	font-size: 15px;
	display: block;
	display: none;
}

.sj-select ul li:nth-child(1) {
	height: 40px;
	display: inline-block;
	background: #f7f9fa;
	bottom: 0;
}

.sj-select ul li button {
	height: 38px; 
	overflow: hidden; 
	background: url(img/arrow2.png) no-repeat right;
	border: none;	
	text-align: right;
	font-size: 15px;
	cursor: pointer;
}

.sj-select ul li button span {
	padding-right: 35px;
	padding-left: 15px;
}

.sj-select ul li button:hover {
	color: #333;
}

.sj-select ul li a {
	text-decoration: none;
	color: #636262;
	position: relative;
	left: 8px;
	top: 4px;
}

.sj-select ul li a:hover {
	color: #333;
}

.main-heading {
	height: 100px;
}

.main-heading h1 {
	font-weight: 300;
	font-size: 20px;
	padding-top: 25px;
	padding-left: 15px;
}

.navigation {

}

.navigation ul {
	display: inline;
	height: 40px;
}

.navigation ul:first-child {
	float: left;
}

.navigation ul:nth-child(2) {
	float: right;
}

.navigation ul li {
	list-style: none;
	padding: 10px 20px;
	display: inline-block;
	height: 40px;

}

.navigation ul li.actual {
	background: #fff;
}

.navigation ul li a {
	text-decoration: none;
}

.select {
	display: flex;
	justify-content: center;
	height: 30px;
}

.select div {
	float: left;
	margin-right: 10px;
	color: #434445;
}

.select div:first-child {
	position: relative;
	top: 6px;
}

#decomp-1 {
	width: 30px;
	height: 30px;
	background: url(img/b1.png);
	border: none;
	margin-right: 3px;
	cursor: pointer;
}

#decomp-2 {
	width: 30px;
	height: 30px;
	background: url(img/b2.png);
	border: none;
	cursor: pointer;
}

.styled-select { 
	width: 300px;
}

.styled-select ul { 
	width: 300px;
	display: block;
}

.styled-select ul li {
	width: 300px;
	height: 26px;
	background: #fff;
	border: 1px solid #d4d8da;
	border-bottom: none;
	font-size: 15px;
	position: relative;
	bottom: 1;
	display: inline-block;
	display: none;
}

.styled-select ul li:nth-child(1) {
	border-bottom: 1px solid #ccc;
	height: 30px;
	display: inline-block;
	bottom: 0;
}

.styled-select ul li:nth-child(2) {
	border-top: none;
}

.styled-select ul li:last-child {
	border-bottom: 1px solid #ccc;
}

.styled-select ul li button {
	width: 298px; 
	height: 28px; 
	overflow: hidden; 
	background: url(img/arrow.png) no-repeat right;
	border: none;	
	text-align: left;
	cursor: pointer;
}

.styled-select ul li button:hover {
	color: #333;
}

.styled-select ul li button span {
	padding-left: 5px;
	font-size: 15px;
}

.styled-select ul li a {
	text-decoration: none;
	color: #636262;
	position: relative;
	left: 8px;
	top: 4px;
}

.styled-select ul li a:hover {
	color: #333;
}

.content {
	margin-top: 35px;
}

.left {
	width: 25%;
	float: left;
}

.top-left {
	width: 100%;
	height: 50px;
	float: left;
	background: #fff;
}

.top-left span {
	float: left;
	font-size: 17px;
	padding: 15px;
}

#set {
	width: 50px;
	height: 50px;
	border: none;
	background: url(img/set.png);
	float: right;
}

#set:hover {
	cursor: pointer;
}


.left ul {
	width: 100%;
	float: left;
	display: block;
	background: #f7f9fa;
	padding: 20px 8px;
}

.left ul li {
	display: block;
	list-style: none;
	padding: 5px 0 5px 7px;
}

.left ul li.actual {
	background: #e9f0f3;
}

.left ul li a {
	text-decoration: none;
}

.left ul li span {
	float: right;
	padding-right: 7px;
}

.right {
	width: 73%;
	float: right;
}

.top-right {
	width: 100%;
	height: 50px;
	float: left;
	background: #fff;
	padding: 0 5px;
	border-bottom: 1px solid #d4d8da;
}

.pages {
	font-size: 13px;
	margin-right: 5px;
}

#pack {
	width: 50px;
	height: 49px;
	border: none;
	background: url(img/pack.png);
	float: left;

}

#pack:hover {
	cursor: pointer;
}

#grp-answ {
	height: 30px;
	background: #19aa4c;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

#grp-answ span {
	padding: 0 5px;
	color: #fff;
	font-weight: 400;	
}

#grp-answ:hover {
	cursor: pointer;
}

#move {
	height: 30px;
	background: url(img/arrow3.png) no-repeat right #2b83d4;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

#move span {
	padding: 0 24px 0 5px;	
	color: #fff;
	font-weight: 400;
}

#move:hover {
	cursor: pointer;
}

#paginator-1 {
	height: 30px;
	margin-top: 10px;
	float: right;
}

#turn-left, #turn-right {
	width: 30px;
	height: 30px;
	background: #edf1f2;
	border: none;
	border-radius: 2px;
}

#turn-left span, #turn-right span {
	color: #4b4f56;
	font-weight: 400;
}

#turn-left:hover, #turn-right:hover {
	cursor: pointer;
}


article .checkbox {
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px; 
	float: left;
}

article .avatar {
	width: 70px;
	height: 70px;
	float: left;
}

article .information {
	height: 70px;
	float: left;
	margin-left: 5px;
}

article .information div:nth-child(1) {
	margin-top: 10px;
	margin-bottom: 8px;
}

article .information .name {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

article .information .status, article .information .date {
	font-size: 13px;
}

article .buttons {
	height: 70px;
	float: right;
	margin-right: 15px;
	padding-top: 20px;
}


article input[type=checkbox] {
	display: none; 
}

article label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 15px;
	font-size: 13px;

}

article label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

article input[type=checkbox]:checked + label:before {
	content: "\2713";
	background: #30c364;
	border: none;
	font-size: 15px;
	color: #fff;
	text-align: center;
    line-height: 15px;
}

article {
	border-bottom: 1px solid #d4d8da;
	width: 100%;
	float: left;
	padding: 10px 0;
}

article .buttons #change {
	width: 30px;
	height: 30px;
	border: none;
	background: url(img/rewrite.png);
}

article .buttons #new, article .buttons #contacted {
	height: 30px;
	border: none;
	background: #edf1f2;
	padding: 0 15px;
}





footer {
	height: 20px;
	font-weight: 300;
}

footer div {
	height: 20px;
	color: #f6f6f6;
	padding: 23px 15px 0 15px;
}

footer div:nth-child(1) {
	float: left;
}

footer div:nth-child(2) {
	float: right;
}

footer div ul li {
	display: inline;
	margin-right: 15px;
}

footer div ul li:last-child {
	margin: 0;
}

footer div ul li a {
	color: #f6f6f6;
	text-decoration: none;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.articles {
	float: left;
}



.go, .active {
	margin-right: 5px;
	padding: 5px;
}

.go span, .active span {
	font-size: 18px;
}

.go {
	border: none;
	background: transparent;
}

.go:hover {
	cursor: pointer;
}

.active {
	border: none;
	background: #e8edf0;
}

.active:hover {
	cursor: pointer;
}

.pagination div {
	text-align: center;
}